
.header_wrapper {
    grid-area: h;
    display: flex;
    background-color: #61dafb;
    position: fixed;
    width: 1200px;
}

.nav_list {
    display: flex;
    gap: 10px;
    list-style-type: none;
}
.header_nav{

}